In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\HP\Desktop\sales_train.csv')

In [2]:
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [2]:
df.shape

(2935849, 6)

In [3]:
df.groupby('item_cnt_day').agg({'item_cnt_day': 'count'})

              item_cnt_day
item_cnt_day
-22.0                    1
-16.0                    1
-9.0                     1
-6.0                     2
-5.0                     4
...                    ...
 624.0                   1
 637.0                   1
 669.0                   1
 1000.0                  1
 2169.0                  1

[198 rows x 1 columns]

In [4]:
arr = df.sample(frac=0.1, replace=True, random_state=1)
arr = pd.DataFrame(arr)
arr.to_csv('file.csv')
data = pd.read_csv('file.csv')
data.head()
data.shape
data.drop('date', axis=1, inplace=True)

In [5]:
data.shape

(293585, 6)

In [5]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
X=data.drop('item_cnt_day', axis=1)
y = data['item_cnt_day']
from sklearn.ensemble import RandomForestClassifier

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
rfc=RandomForestClassifier().fit(X_train,y_train)
rfc.score(X_test,y_test)

0.8864383398334383

In [9]:
data.head()
data.shape

(293585, 6)

In [10]:
data.head()

   Unnamed: 0  date_block_num  shop_id  item_id  item_price  item_cnt_day
0      128037               1       42    11919       149.0           1.0
1      491755               4       50    17822       349.0           2.0
2     2568076              27       22     6789       498.0           1.0
3      491263               4       54    11496       399.0           3.0
4      836489               7       10    19415       399.0           1.0

In [11]:
# rfc.predict([[4, 50, 17822, 349.0]])


datas = data.drop('item_cnt_day', axis=1)

In [12]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.naive_bayes import GaussianNB
# from sklearn.svm import SVC
# from sklearn.ensemble import VotingClassifier
# model1 = LogisticRegression(random_state=1, solver='newton-cg')
# model2 = DecisionTreeClassifier(random_state=1)
# model3=GaussianNB()
# model4=SVC()
# model = VotingClassifier(estimators=[('lr', model1), ('dt', model2),('gnb',model3),('svc', model4)], voting='hard')
# model.fit(X_train,y_train)
# model.score(X_test,y_test)

In [13]:
# rfc.predict()
import numpy as np
arr = np.array(datas)

In [14]:
arr[1]

array([4.91755e+05, 4.00000e+00, 5.00000e+01, 1.78220e+04, 3.49000e+02])

In [15]:
rfc.predict(arr[[3]])

array([3.])

In [16]:
c = 0
for i in arr:
    print('id=', i[0], 'price', i[-1], rfc.predict([i]), '$ ','та мефурушад')
    c += 1
    if c == 100:
        break

id= 128037.0 price 149.0 [1.] $  та мефурушад
id= 491755.0 price 349.0 [2.] $  та мефурушад
id= 2568076.0 price 498.0 [1.] $  та мефурушад
id= 491263.0 price 399.0 [3.] $  та мефурушад
id= 836489.0 price 399.0 [1.] $  та мефурушад
id= 2468555.0 price 1099.0 [1.] $  та мефурушад
id= 73349.0 price 249.0 [1.] $  та мефурушад
id= 1166159.0 price 1499.0 [1.] $  та мефурушад
id= 2326672.0 price 2199.0 [1.] $  та мефурушад
id= 413825.0 price 149.0 [1.] $  та мефурушад
id= 925255.0 price 99.0 [1.] $  та мефурушад
id= 1215878.0 price 2199.0 [1.] $  та мефурушад
id= 2610452.0 price 99.0 [1.] $  та мефурушад
id= 1070334.0 price 99.0 [1.] $  та мефурушад
id= 2788242.0 price 899.5 [1.] $  та мефурушад
id= 575956.0 price 599.0 [2.] $  та мефурушад
id= 1506187.0 price 399.0 [1.] $  та мефурушад
id= 401660.0 price 199.0 [1.] $  та мефурушад
id= 806378.0 price 449.5 [1.] $  та мефурушад
id= 365212.0 price 1299.0 [1.] $  та мефурушад
id= 188317.0 price 999.0 [1.] $  та мефурушад
id= 1005966.0 price 265.0 [1.] $  та мефурушад
id= 2343474.0 price 1407.3725 [4.] $  та мефурушад
id= 1342679.0 price 349.0 [1.] $  та мефурушад
id= 745431.0 price 578.53 [1.] $  та мефурушад
id= 412649.0 price 149.0 [1.] $  та мефурушад
id= 148209.0 price 764.0 [2.] $  та мефурушад
id= 2797022.0 price 799.0 [1.] $  та мефурушад
id= 296022.0 price 249.0 [1.] $  та мефурушад
id= 645097.0 price 149.0 [1.] $  та мефурушад
id= 2096521.0 price 599.0 [1.] $  та мефурушад
id= 99335.0 price 449.0 [2.] $  та мефурушад
id= 117565.0 price 299.0 [1.] $  та мефурушад
id= 2467129.0 price 199.0 [1.] $  та мефурушад
id= 1772033.0 price 2599.0 [1.] $  та мефурушад
id= 323900.0 price 299.0 [1.] $  та мефурушад
id= 194769.0 price 199.0 [1.] $  та мефурушад
id= 357640.0 price 499.0 [1.] $  та мефурушад
id= 2155224.0 price 2499.0 [1.] $  та мефурушад
id= 2529907.0 price 3599.0 [1.] $  та мефурушад
id= 2789354.0 price 229.0 [1.] $  та мефурушад
id= 914041.0 price 170.92 [1.] $  та мефурушад
id= 2603464.0 price 399.0 [1.] $  та мефурушад
id= 1254471.0 price 449.5 [1.] $  та мефурушад
id= 898435.0 price 299.0 [1.] $  та мефурушад
id= 2813489.0 price 1399.0 [1.] $  та мефурушад
id= 1225219.0 price 58.0 [1.] $  та мефурушад
id= 2022340.0 price 729.0 [1.] $  та мефурушад
id= 2435864.0 price 2999.0 [1.] $  та мефурушад
id= 369137.0 price 231.0 [3.] $  та мефурушад
id= 2227243.0 price 699.0 [2.] $  та мефурушад
id= 478234.0 price 399.0 [1.] $  та мефурушад
id= 2754356.0 price 199.0 [1.] $  та мефурушад
id= 1844560.0 price 199.0 [1.] $  та мефурушад
id= 619817.0 price 349.0 [2.] $  та мефурушад
id= 28114.0 price 299.0 [1.] $  та мефурушад
id= 2490383.0 price 229.0 [1.] $  та мефурушад
id= 2059328.0 price 1049.0 [1.] $  та мефурушад
id= 510148.0 price 549.0 [1.] $  та мефурушад
id= 2764825.0 price 399.0 [1.] $  та мефурушад
id= 732527.0 price 149.0 [1.] $  та мефурушад
id= 931287.0 price 599.0 [1.] $  та мефурушад
id= 1910663.0 price 675.666666667 [3.] $  та мефурушад
id= 523929.0 price 149.0 [1.] $  та мефурушад
id= 2696808.0 price 229.0 [1.] $  та мефурушад
id= 2098198.0 price 349.0 [1.] $  та мефурушад
id= 1685257.0 price 199.34 [1.] $  та мефурушад
id= 2014915.0 price 489.0 [1.] $  та мефурушад
id= 2771943.0 price 349.0 [1.] $  та мефурушад
id= 214142.0 price 199.0 [1.] $  та мефурушад
id= 2860311.0 price 229.0 [1.] $  та мефурушад
id= 1502589.0 price 999.0 [1.] $  та мефурушад
id= 626020.0 price 299.0 [1.] $  та мефурушад
id= 1654939.0 price 1699.0 [1.] $  та мефурушад
id= 2642233.0 price 1199.0 [1.] $  та мефурушад
id= 535123.0 price 899.0 [1.] $  та мефурушад
id= 1254688.0 price 2599.0 [1.] $  та мефурушад
id= 438026.0 price 999.0 [1.] $  та мефурушад
id= 1555735.0 price 499.0 [1.] $  та мефурушад
id= 1738383.0 price 599.0 [2.] $  та мефурушад
id= 2697967.0 price 3999.0 [1.] $  та мефурушад
id= 2071639.0 price 2389.5 [1.] $  та мефурушад
id= 2822087.0 price 1099.0 [1.] $  та мефурушад
id= 1048819.0 price 999.0 [1.] $  та мефурушад
id= 2065756.0 price 99.0 [1.] $  та мефурушад
id= 1882698.0 price 199.0 [1.] $  та мефурушад
id= 1017022.0 price 899.0 [1.] $  та мефурушад
id= 2317614.0 price 549.0 [1.] $  та мефурушад
id= 2347936.0 price 4.8 [5.] $  та мефурушад
id= 1053847.0 price 1979.0 [1.] $  та мефурушад
id= 275825.0 price 1999.0 [1.] $  та мефурушад
id= 501507.0 price 99.0 [1.] $  та мефурушад
id= 2411392.0 price 999.0 [1.] $  та мефурушад
id= 638968.0 price 349.0 [3.] $  та мефурушад
id= 1820422.0 price 399.0 [1.] $  та мефурушад
id= 1364437.0 price 2599.0 [1.] $  та мефурушад
id= 1033670.0 price 5.0 [6.] $  та мефурушад
id= 1766914.0 price 199.0 [1.] $  та мефурушад
id= 1111628.0 price 199.0 [1.] $  та мефурушад
id= 2166747.0 price 399.0 [1.] $  та мефурушад

In [17]:
datas.head()

   Unnamed: 0  date_block_num  shop_id  item_id  item_price
0      128037               1       42    11919       149.0
1      491755               4       50    17822       349.0
2     2568076              27       22     6789       498.0
3      491263               4       54    11496       399.0
4      836489               7       10    19415       399.0

In [18]:
{ col:[0] for col in X.columns}

{'Unnamed: 0': [0],
 'date_block_num': [0],
 'shop_id': [0],
 'item_id': [0],
 'item_price': [0]}

In [23]:
example = {'date_block_num': [3], 'shop_id': [10], 'item_id': [13643], 'item_price': [1199.0]}

In [24]:
example_df = pd.DataFrame(example)
example_df

   date_block_num  shop_id  item_id  item_price
0               3       10    13643      1199.0

In [27]:
rfc.predict(example_df)

ValueError: Number of features of the model must match the input. Model n_features is 5 and input n_features is 4

In [ ]:
df.shape

In [22]:
datas.shape

(293585, 5)

In [40]:
datas[(datas['item_id'] == 13643)]

       date_block_num  shop_id  item_id  item_price
28614              23       31    13643      1199.0

In [45]:
x = df[df['item_id'] == 13643]

In [46]:
x

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
2194481,27.12.2014,23,42,13643,1199.0,2.0
2194482,30.12.2014,23,42,13643,1199.0,1.0
2194531,21.12.2014,23,42,13643,1199.0,1.0
2194543,20.12.2014,23,42,13643,1199.0,1.0
2194616,19.12.2014,23,42,13643,1199.0,1.0
2199195,24.12.2014,23,43,13643,1199.0,1.0
2199196,22.12.2014,23,43,13643,1199.0,1.0
2199197,13.12.2014,23,43,13643,1199.0,1.0
2212863,31.12.2014,23,57,13643,1199.0,1.0
2225308,31.12.2014,23,31,13643,1199.0,2.0
2225309,29.12.2014,23,31,13643,1199.0,2.0
2225310,11.12.2014,23,31,13643,1199.0,1.0
2247890,30.12.2014,23,40,13643,1199.0,1.0
2248453,28.12.2014,23,39,13643,1199.0,1.0
2253650,21.12.2014,23,28,13643,1199.0,1.0
2286267,30.12.2014,23,6,13643,1199.0,1.0
2286268,29.12.2014,23,6,13643,1199.0,1.0
2286269,22.12.2014,23,6,13643,1199.0,1.0
2286270,17.12.2014,23,6,13643,1199.0,1.0
2294022,29.12.2014,23,27,13643,1199.0,2.0
2294023,28.12.2014,23,27,13643,1199.0,2.0
2294024,27.12.2014,23,27,13643,1199.0,1.0
2294025,19.12.2014,23,27,13643,1199.0,1.0
2294026,17.12.2014,23,27,13643,1199.0,1.0
2294027,12.12.2014,23,27,13643,1199.0,1.0
2304489,21.12.2014,23,54,13643,1199.0,1.0
2304503,12.12.2014,23,54,13643,1199.0,1.0
2304515,29.12.2014,23,54,13643,1199.0,1.0
2304516,28.12.2014,23,54,13643,1199.0,1.0
2304517,27.12.2014,23,54,13643,1199.0,1.0
2315939,26.12.2014,23,25,13643,1199.0,2.0
2315940,22.12.2014,23,25,13643,1199.0,2.0
2315941,20.12.2014,23,25,13643,1199.0,1.0
2315942,15.12.2014,23,25,13643,1199.0,1.0
2383391,05.01.2015,24,57,13643,1199.0,1.0
2390878,12.01.2015,24,28,13643,1199.0,1.0
2396430,17.01.2015,24,59,13643,1199.0,1.0
2436945,14.02.2015,25,57,13643,1199.0,1.0
2436946,10.02.2015,25,57,13643,1199.0,1.0
2443371,20.02.2015,25,54,13643,1199.0,1.0
2443372,22.02.2015,25,54,13643,1199.0,1.0
2466042,07.02.2015,25,28,13643,1199.0,1.0
2466048,13.02.2015,25,28,13643,1199.0,1.0

In [48]:
x.groupby('item_cnt_day').agg({'item_cnt_day': 'count'})

              item_cnt_day
item_cnt_day
1.0                     36
2.0                      7