In [1]:
from sklearn import linear_model
import pandas as pd
# Load data
data=pd.read_csv(r'C:\Users\User\Desktop\01_heights_weights_genders.csv')
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
#train_test
from sklearn.model_selection import train_test_split
X=data[['Height','Weight']]
y=data['Gender']
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=0, test_size=0.2, )

In [5]:
#shape
#print-train
#print-test
print(y_train.shape)
print(y_test.shape)

(8000,)
(2000,)

In [6]:
#model LogReg
LR=linear_model.LogisticRegression(random_state=0)

In [8]:
#fit
LR.fit(X_train,y_train)

LogisticRegression(random_state=0)

In [51]:
#predict
y_train_pred=LR.predict(X_train)
y_test_pred=LR.predict(X_test)

print("test_predict",LR.predict([(1,63)]))

test_predict ['Female']

In [17]:
#auc
from sklearn.metrics import roc_auc_score
roc_auc_score(y, LR.decision_function(X))

0.973239