In [2]:
r = input()
print('heigh = ', r)

173 sm
heigh =  173 sm

In [3]:
col = str(input('Vvedite svoy lubimiy cvet'))
print('color = ', col)

Vvedite svoy lubimiy cvetred
color =  red

In [4]:
col = str(input('Vvedite svoy lubimiy cvet'))
color = col
print(color)

Vvedite svoy lubimiy cvetred
red

In [5]:
b = (2 + a)
a = (b * 4)
b = (a / 3.14)
a = (8 - b)

In [6]:
result = (4 + 8)
result2 = (2 * 2)
result3 = (8 / 4)
result4 = (8 - 2)
result5 = (5 // 2)
print(result, result2, result3, result4, result5)

12 4 2.0 6 2

In [7]:
x = (10 +14)
print('total=',x)

total= 24

In [10]:
down_payment = 3000
total = 1000
due = (down_payment - total)
print('DUE = ',  due)

DUE =  2000

In [11]:
subtotal = 100
total = subtotal * 0.15
print(total)

15.0

In [12]:
a = 5
b = 2
c = 3
result = a + b * c
print(result)

11

In [13]:
num = 99
num = 15
print(num)

15

In [14]:
sales = 123.1434455
print(sales, .2f)

SyntaxError: invalid syntax (<ipython-input-14-4ed80618005b>, line 2)

In [19]:
sales = 123.1434455
print(format(sales, '.2f'))

123.14

In [32]:
number = 13324242323
print(format(number, ',d'))

13,324,242,323

In [34]:
print('Джордж', 'Джон', 'Tom', sep = '+')

Джордж+Джон+Tom

In [35]:
import turtle
turtle.showturtle()